# Ignore datasets (VERY IMPORTANT)
PetImages/
data/

# Ignore virtual environment
venv/

# Ignore model files
*.h5
*.keras

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# OS / system files
.DS_Store
Thumbs.db

# VS Code
.vscode/


